.resume{
    height: 100%;
}

.timeline{
    display: flex;  
    width: 100%;
    padding: 20px;

    &_experience, &_education{
        width: 50%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_header_text
        {
                display: inline-block;
                color: var(--yellow-theme-sub-text-color);
                font-size: 22px;
                font-weight: 700;
                letter-spacing: 0.5px;
                position: relative;
                text-transform: uppercase;
                padding: 10px;
                border-bottom: 1px solid var(--yellow-theme-main-color);
              
            }

            &_header_text::before, &_header_text::after {
                position: absolute;
                content: "";
                width: 2px;
                height: 5px;
                background-color: var(--yellow-theme-main-color);
                bottom: -1px;
            }
            &_header_text::before{
                left: 0;
            }

            &_header_text::after{
                right: 0;
            }

            &_virticle_timeline_element{
                padding: 0px 0px 30px 0px;

                &:last-child{
                    padding-bottom: 0;
                }
            }

            .virticle_timeline_element_title_wrapper{               

                h3{
                    font-size: 20px;
                }

                h4{
                    font-size: 16px;
                }

                span{
                   font-size: 15px; 
                }

                p{
                    font-size: 18px;;
                }

                h5{
                    padding-top: 10px;
                }
            }

            .vericle-timeline-element-content{
                box-shadow: none;
            }
    }
}

.myresume{
    padding: 20px;
    
    a{
        color: var(--yellow-theme-sub-text-color);
        text-decoration: none;
        cursor: pointer;
        font-size: 22px;
    }
}

@media (max-width:767.98px){
    .timeline{
        flex-direction: column;   
        
        &_experience, &_education{
            width: 100%;
        }
    }
}