.home{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

    &_text_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            color: var(--yellow-theme-main-color);
            margin: 0;
            font-weight: 500;
            font-size: 4rem;
            line-height: 6rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30, end);
        }  
        
        &_contact_me {
            display: flex;
            justify-content: center;
            align-items: center;
                    
             
             button{
                 cursor: pointer;
                 font-size: 22px;
                 padding: 8px 25px;
                 background: transparent;
                 color: var(--yellow-theme-main-color);
                 border: 1px solid var(--yellow-theme-main-color);
                 border-radius: 4px;
     
                 &:hover{
                     background: var(--yellow-theme-main-color);
                     color: var(--yellow-theme-background-color);
                 }
             }
         }
    }   
    
}

@media (max-width:575.98px){
    .home_text_wrapper h1{
        font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 1rem;  
    }

    .home_text_wrapper_contact_me button {  
        font-size: 17px;
        padding: 6px 20px;
    }

}

@media (min-width:576px) and (max-width:767.98px){
    .home_text_wrapper h1{
        font-size: 3rem;
        line-height: 4rem;
    }

}
@media (min-width:768px) and (max-width:991.98px){

    .home_text_wrapper h1{
        font-size: 3rem;
        line-height: 4rem;
    }
}

@keyframes typingEffectAnimation{
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}